@font-face {
	font-family: MyFont;
	src: url(BlackOpsOne-Regular.ttf);
}
html, body {
	width: 100%;
	padding: 0;
	margin: 0;
	background: 
	  linear-gradient(to right, black, transparent, #14334b, transparent, black),
	  url('../img/bit.png') left top no-repeat,
	  url('../img/bank.png') right top no-repeat;
	background-size: 100% 100%, 50% 100%, 50% 100%;
	background-position: center, left, right;
	overflow: auto;
  }
  
h1, h2, h3, h4, h5, h6, p, li, span {
	font-family: 'MyFont';
	color: darkorange;
	text-shadow: 1px 1px 5px #14334b, -1px -1px 8px #14334b, 1px -1px 8px #14334b, -1px 1px 8px #14334b;
}
a {
	color: #7baebe;
	text-shadow: 1px 1px 5px #14334b, -1px -1px 8px #14334b, 1px -1px 8px #14334b, -1px 1px 8px #14334b;
	font-weight: bold;
	text-decoration: none;
}
	a:hover {
		text-decoration: none;
	}
div {
	padding: 0;
	margin: 0;
}

button {
	font-family: 'MyFont';
	font-size: 1.2em;
	color: orange;
	background-color: #25567B;
	border: none;
	margin: 1em auto 0 auto;
	padding: 10px;
	border-radius: 5px;
	display: inline-block;
}
	button:hover {
		cursor: pointer;
		background-color: #ffffff;
	}
	button:active {
		background-color: #99C2E1;
	}
	#rotate-button {
		height: 0px;
		background-color: transparent;
	}
	#place-randomly {
		font-family: 'MyFont';
		font-size: 1.2em;
		color: orange;
		background-color: #25567B;
		border: none;
		padding: 10px;
		border-radius: 5px;
		display: inline-block;
		margin-left: -4%;
	}
	#restart-game {
		position: relative;
		color: #FFFFFF;
		background-color: #FF9200;
	}
		#place-randomly:hover {
			cursor: pointer;
			background-color: #ffffff;
		}
		#restart-game:hover {
			background-color: #FFB655;
		}
		#rotate-button:hover {
			height: 0px;
			background-color: transparent;
			cursor: default;
		}
		#place-randomly:active {
			background-color: #99C2E1;
		}
		#restart-game:active {
			background-color: #FFCE8E;
		}

#prefetch1 {
	background: url('../img/cross-icon.svg');
}
#prefetch2 {
	background: url('../img/cross-icon.png');
}
#prefetch3 {
	background: url('../img/crosshair.png');
}
.prefetch {
	background-repeat: no-repeat;
	background-position: -9999px -9999px;
}

	.instructions {
		width: auto;
		display: inline-block;
		text-align: left;
		margin: 0 auto 3em auto;
	}

.container {
	width: 870px;
	text-align: center;
	margin: 20px auto 100px auto;
}
.game-container {
	position: relative;
}
	#roster-sidebar, #stats-sidebar, #restart-sidebar {
		width: 130px;
		padding: 10px;
		margin: 0;
		background: #0e345e;
		box-shadow: 10px 10px 10px #0e345e, -10px 10px 10px #0e345e, 10px -10px 10px #0e345e, -10px -10px 10px #0e345e;
		position: absolute;
		top: 7em;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		text-align: center;
		align-items: center;
	}
	#roster-sidebar, #restart-sidebar {
		left: -200px;
	}
	#stats-sidebar {
		right: -200px;
	}
		#roster-sidebar h2, #stats-sidebar h2, #restart-sidebar h2 {
			margin: 0 0 0 0;
			text-align: center;
		}

	.invisible {
		opacity: 0;
		-webkit-transition: opacity 0.5s ease-in;
		-o-transition: opacity 0.5s ease-in;
		transition: opacity 0.5s ease-in;
		z-index: -20;
	}
	.hidden {
		display: none;
	}

.grid-container {
	width: 430px;
	display: inline-block;
}
.grid-container h2 {
	width: 430px;
	display: inline-block;
}

.grid {
	position: relative;
	vertical-align: top;
	padding: 5px;
	height: 420px;
	width: 420px;
	background-color: #25567B;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
	.grid-container:last-child {
		margin-left: 10px;
	}
	.no-js {
		width: 300px;
		height: 300px;
		margin: 100px auto;
		display: inline-block;
		color: #EEEEEE;
		font-size: 2em;
	}
	.grid-cell {
		vertical-align: top;
		height: 40px;
		width: 40px;
		display: inline-block;
		background-color: #99C2E1;
		margin: 1px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}
		.grid-cell:hover {
			cursor: pointer;
			background-color: #66A3D2;
		}
		.human-player .grid-cell:hover {
			background-color: #99C2E1;
		}
		.computer-player .grid-cell:hover, .computer-player:hover {
			cursor: url('../img/crosshair.png') 16 16, crosshair;
		}
	.grid-ship, .human-player .grid-ship:hover {
		background: url('../img/grumpy.png');
		background-position: contain;
		background-color: #014761;
		background-size: 100%;
		overflow: auto;
	}
	.grid-miss, .grid-miss:hover, .human-player .grid-miss:hover {
		background-color: #1f7c98;
		background-image: url('../img/cross-icon.png');
		background-image: url('../img/cross-icon.svg');
		background-position: center;
		background-repeat: no-repeat;
	}
	.grid-hit, .grid-hit:hover, .human-player .grid-hit:hover {
		background-color: rgba(255, 102, 0, 0.8);
		background-image: url('../img/cross-icon.png');
		background-image: url('../img/cross-icon.svg');
		background-position: center;
		background-repeat: no-repeat;
		box-shadow: inset 0 0 10px 5px #F60018, inset 0 0 20px 1px #f6ee00, 0 0 10px 2px #F60018, 0 0 20px 1px #f6ee00;
	}
	.grid-sunk, .grid-sunk:hover, .human-player .grid-sunk:hover {
		background-color: rgba(255, 102, 0, 0.8);
		background-image: url('../img/cross-icon.png');
		background-image: url('../img/cross-icon.svg');
		background-position: center;
		background-repeat: no-repeat;
		box-shadow: inset 0 0 10px 5px #F60018, inset 0 0 20px 1px #f6ee00, 0 0 10px 2px #F60018, 0 0 20px 1px #f6ee00;
	  }
	  

.highlight {
	overflow: visible;
}
	.highlight:before {
		content: "\2193";
		font-weight: bold;
		font-size: 75px;
		color: #FF9200;
		text-shadow: 0 0 5px #FF9200;
		position: absolute;
		width: 100px;
		height: 100px;
		top: -100px;
		left: 50%;
		margin-left: -50px;
		-webkit-animation: highlight 1.5s infinite;
		-o-animation: highlight 1.5s infinite;
		animation: highlight 1.5s infinite;
	}
.current-step {
	font-weight: bold;
}

@media(max-width: 1300px) {
	.container {
		width: 440px;
	}
	.grid-container:last-child {
		margin-left: 0;
	}
}


@-webkit-keyframes highlight {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	50% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@-moz-keyframes highlight {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0);
	}
}
@-o-keyframes highlight {
	0% {
		-o-transform: translateY(0);
		transform: translateY(0);
	}
	50% {
		-o-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	100% {
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes highlight {
	0% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
	50% {
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		-o-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	100% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}



  .modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: url("../img/command.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 80vh;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	text-wrap: wrap;
  }
  
  .close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
  }
  
  button {
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
  }
  
@media screen and (max-width: 1295px) {
	.game-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
        transform: scale(0.5);
		transform-origin: center;
	}
	.container {
		width: 95%;
		text-align: center;
		margin: 20px auto 100px auto;
		padding: 0;
	}
	#stats-sidebar {
		margin-right: -100px;
	}
	#roster-sidebar, #restart-sidebar {
		margin-left: -100px;
	}
	.grid-container {
		margin-left: 0px;
	}
	.instructions {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 650px) {
	html, body {
		background-size: contain;
		background-repeat: repeat;
		background-position: center;
		padding: 0;
	}
	.game-container {
		margin-top: -375px;
		margin-bottom: -375px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		transform: scale(0.35);
	}
	.grid-container {
		font-size: xx-large;
	}
	#stats-sidebar {
		position: fixed;
	}
	#roster-sidebar, #restart-sidebar {
		position: fixed;
	}
}